h1{
    color: red;
    text-align: center;
    font-size: 35px;
    width: 100%;
}
p{
    color: green;
}

/* universal selector */
* {
    color: green;
    /* margin: 0px;
    padding: 0px; */
}
/* tag/element selector */
small {
    display: inline-block;
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
    color: brown;
    font-size: 24px;
    font-style: italic;
}
a[title="google"]{
    color: black;
}

/* ID Selector */
#idselec{
    color: violet;
}

/* Class Selector */
.classselec{
    color: red;
    font-size: x-large;
    word-spacing: 20px;
    line-height: 30px;
}

/* desc selector */
.desc a {
    color: red;
}

/* child selector */
.child>a {
    color: black;
}

/* pseudo selector */
a:link {
    color: red;
}
a:hover{
    color: yellow;
    letter-spacing: 10px;
}
a:active{
    color: green;
}
a:visited{
    color: brown;
}

/* target */
:target{
    color: red;
    border: 1px solid black;
}

/* margin */
.margin1{
    border: 1 solid black;
    /* margin: 50px; */
    margin: 50px 0px;
}

.margin2{
    border: 1px solid red;
    margin-top: 50px;
    margin-left: 20px;
}

/* padding */
.padding{
    border: 1px solid green;
    padding-top: 40px;
}

/* Layout */
.inline{
    border: 1px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 300px;
    display: inline-block;
}

/* float */
.floatleft img {
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.floatright img{
    width: 40%;
    float: right;
}

/* grid */
.grid1 div, .grid2 div, .grid3 div {
    padding: 20px;
    text-align: center;
    color: white;
}
.grid1, .grid2, .grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid2{
    grid-column-gap: 50px;
}
.grid3{
    grid-row-gap: 40px;
}
.columadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
