h1{
    color: red;
    text-align: center;
    font-size: 35px;
    width: 100%;
}
p{
    color: green;
}

/* universal selector */
* {
    color: green;
    /* margin: 0px;
    padding: 0px; */
}
/* tag/element selector */
small {
    display: inline-block;
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
    color: brown;
    font-size: 24px;
    font-style: italic;
}
a[title="google"]{
    color: black;
}

/* ID Selector */
#idselec{
    color: violet;
}

/* Class Selector */
.classselec{
    color: red;
    font-size: x-large;
    word-spacing: 20px;
    line-height: 30px;
}

/* desc selector */
.desc a {
    color: red;
}

/* child selector */
.child>a {
    color: black;
}

/* pseudo selector */
a:link {
    color: red;
}
a:hover{
    color: yellow;
    letter-spacing: 10px;
}
a:active{
    color: green;
}
a:visited{
    color: brown;
}

/* target */
:target{
    color: red;
    border: 1px solid black;
}

/* Border */
.borderone{
    border: 2px dashed red;
}
.bordertwo{
    border-left: 4px solid red;
    border-right: 4px solid red;
}

.borderwidth{
    border-width: 10px;
    border-style: solid;
}

.borderstyle{
    border-style: dashed;
    /* all four sides => Top, Right, Bottom, Left*/
    border-style: dashed solid;
    /* T&B L&R */
    border-style: solid dotted dashed;
    /* T /l&R/ B */
    border-style: dashed solid double dotted;
    /* T / R / B / L */
}

/* margin */
.margin1{
    border: 1 solid black;
    /* margin: 50px; */
    margin: 50px 0px;
}

.margin2{
    border: 1px solid red;
    margin-top: 50px;
    margin-left: 20px;
}

/* padding */
.padding{
    border: 1px solid green;
    padding-top: 40px;
}

/* Layout */
.inline{
    border: 1px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 300px;
    display: inline-block;
}

/* float */
.floatleft img {
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.floatright img{
    width: 40%;
    float: right;
}

/* grid */
.grid1 div,.grid2 div,.grid3 div,.grid4 div,.grid5 div,.grid6 div{
    padding: 20px;
    text-align: center;
    color:white;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid2{
    grid-column-gap: 50px;
}

.grid3{
    grid-row-gap: 20px;
}

.grid4{
    /* grid-gap: 50px; */
    grid-row-gap:20px;
    grid-column-gap: 50px;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

/* positon */
.relative_parent{
    border: 1px solid black;
    width: 800px;
    height: 500px;
}
.relative{
    border: 1px solid blue;
    width: 500px;
    height: 200px;
    position: relative;
    left: 50px;
}
.absolute_parent{
    border: 1px solid black;
    width: 800px;
    height: 500px;
    position: relative;
}
.absolute{
    border: 1px solid red;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 50px;
}
.fixed_parent{
    border: 1px solid black;
    width: 800px;
    height: 500px;
}
.fixed{
    border: 1px solid red;
    width: 500px;
    height: 200px;
    position: fixed;
    top: 100px;
    right: 50px;
}

/* font */
.f_on{
    font-family: 'Noto Sans Mono', monospace;
    font-size:21px;;
}
@font-face {
    font-family: augustus;
    src: url(font/AUGUSTUS.TTF);
}
.f_off{
    font-family: augustus;
}